<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzBaHw7IW9pDOnBsy2z2r1xY2EUqu-FNg</string>
	<key>GCM_SENDER_ID</key>
	<string>904402741276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userAuth.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-9254e</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-9254e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904402741276:ios:d3b1e29982a4e1162d57d9</string>
</dict>
</plist>